*~
scripts/*
.project
.pydevproject
*.pyc
MANIFEST
dist/
*.sqlite
*.sqllite-journal
config*
test.sh
nbproject/
.nfs*
Guilty/*
repositoryhandler/*
Guilty
repositoryhandler
guilty/*
guilty
runner.sh
*.bak
*.log
